body {
  background-color: skyblue;
}

.radio-box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

button {
  display: block;
  margin: 50px auto;
}

.result-box {
  text-align: center;
  display: block;
  margin: 0 auto;
}

img {
  width: 100px;
}